*.d
*.dSYM
*.o
*.a
*.fasl
*.FASL
*.lisp-temp
*.tmp
*~
*.diff
*.patch
.gdb_history
output
obj
local-target-features.lisp-expr
customize-target-features.*
customize-backend-subfeatures.*
whitespace-stamp
src/assembly/target
src/compiler/assembly
src/compiler/target
src/runtime/Config
src/runtime/TAGS
src/runtime/genesis
src/runtime/openbsd-sigcontext.h
src/runtime/sbcl
src/runtime/sbcl.exe
src/runtime/sbcl.h
src/runtime/sbcl.mk
src/runtime/shrinkwrap-sbcl*
src/runtime/target-arch-os.h
src/runtime/target-arch.h
src/runtime/target-lispregs.h
src/runtime/target-os.h
src/runtime/ppc-linux-mcontext.h
src/runtime/sparc-funcdef.h
tests/test-status.lisp-expr
tests/test.log
tests/*.so
tests/run-tests-*
tests/last-random-state.lisp-expr
tests/ansi-test/
tools-for-build/determine-endianness
tools-for-build/determine-endianness.exe
tools-for-build/grovel-headers
tools-for-build/grovel-headers.exe
tools-for-build/mmap-rwx
tools-for-build/where-is-mcontext
contrib/*/test-passed
contrib/*/test-output
contrib/asdf/asdf-upstream
contrib/sb-cover/test-output
doc/manual/*.html
version.lisp-expr
