Alastair Bridgewater <nyef@arisu.lisphacker.com> lisphacker <lisphacker>
Tobias C. Rittweiler <trittweiler@users.sourceforge.net> trittweiler <trittweiler>
Martin Cracauer <cracauer@google.com> cracauer <cracauer>
Richard M Kreuter <kreuter@users.sourceforge.net> kreuter <kreuter>
NIIMI Satoshi <sa2c@users.sourceforge.net> sa2c <sa2c>
Paul Khuong <pvk@pvk.ca> pkhuong <pkhuong>
Jim Wise <jimwise@users.sourceforge.net> jimwise <jimwise>
