Alastair Bridgewater <lisphacker@users.sourceforge.net> lisphacker <lisphacker>
<lisphacker@users.sourceforge.net> <nyef@arisu.lisphacker.com>
<lisphacker@users.sourceforge.net> <nyef@kana.lisphacker.com>
<lisphacker@users.sourceforge.net> <nyef@virtdev-1.lisphacker.com>
<lisphacker@users.sourceforge.net> <nyef_sbcl@lisphacker.com>

Christophe Rhodes <csr21@cantab.net> <csr21@cam.ac.uk>

Cyrus Harmon <ch-sbcl@bobobeach.com> <ch-github@bobobeach.com>

Jim Wise <jimwise@users.sourceforge.net> <jwise@draga.com>
<jimwise@users.sourceforge.net> <jwise@menegroth.draga.com>
<jimwise@users.sourceforge.net> jimwise <jimwise>

Martin Cracauer <cracauer@google.com> cracauer <cracauer>

Nathan Froyd <froydnj@gmail.com> <froydnj@cs.rice.edu>

Nikodemus Siivola <nikodemus@random-state.net> <nikodemus@sb-studio.net>

NIIMI Satoshi <sa2c@users.sourceforge.net> sa2c <sa2c>

Paul Khuong <pvk@pvk.ca> pkhuong <pkhuong>

Richard M Kreuter <kreuter@users.sourceforge.net> kreuter <kreuter>

Robert Brown <brown@google.com> <robert.brown@gmail.com>

Stas Boukarev <stassats@users.sourceforge.net> <stassats@gmail.com>

Tobias C. Rittweiler <trittweiler@users.sourceforge.net> trittweiler <trittweiler>
