*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.log
*.pg
*.texi-temp
*.toc
*.tp
*.tps
*.vr
*.vrs
asdf.info*
asdf.pdf
asdf.ps
asdf.texinfo
asdf/
docstrings/
html-stamp
sbcl.info*
sbcl.pdf
sbcl.ps
sbcl/
tempfiles-stamp
variables.texinfo
