*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.log
*.pg
*.texi-temp
*.toc
*.tp
*.tps
*.vr
*.vrs
sbcl-internals.info
sbcl-internals.pdf
sbcl-internals.ps
discriminating-functions.pdf
discriminating-functions.txt
top-include.include
top-menu.include
