*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.log
*.pg
*.texi-temp
*.toc
*.tp
*.tps
*.vr
*.vrs
sbcl-internals.info
sbcl-internals.pdf
sbcl-internals.ps
sbcl-internals/
html-stamp
discriminating-functions.pdf
discriminating-functions.txt
discriminating-functions.png
top-include.include
top-menu.include
