name: Linux qemu

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ppc64le, riscv64]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: install host sbcl
        run: |
          echo "\"`git rev-parse HEAD`\"" > version.lisp-expr
          cd tests; git clone --depth 1 https://github.com/sbcl/ansi-test.git

      - uses: uraimo/run-on-arch-action@v3
        name: Run commands
        id: runcmd
        with:
          arch: none
          distro: none
          base_image: --platform=linux/${{ matrix.arch }} debian:trixie

          githubToken: ${{ github.token }}
          install: |
            dpkg --add-architecture amd64
            apt-get -qq update | true
            apt-get -qq install libzstd-dev build-essential curl libc6:amd64
            curl -O -L https://github.com/sbcl/sbcl/releases/download/sbcl-1.4.14/sbcl-2.4.8-x86-64-linux-binary.tar.bz2
            tar xf sbcl-2.4.8-x86-64-linux-binary.tar.bz2
            cd sbcl-2.4.8-x86-64-linux/
            ./install.sh
            useradd -u 1001 -m dtest
          run: |
            export SBCL_MAKE_TARGET_2_OPTIONS="--disable-ldb --disable-debugger"
            export SBCL_MAKE_JOBS=-j4
            ./make.sh --with-sb-core-compression --xc-host='sbcl --dynamic-space-size 700MB --lose-on-corruption --disable-ldb --disable-debugger'
            cd tests
            #./run-tests.sh --slow
            ./ansi-tests.sh

