name: Linux qemu

on: [push]

jobs:
  ppc64le:
    runs-on: ubuntu-latest
    name: ppc64le
    steps:
      - uses: actions/checkout@v4
      - run: echo "\"`git rev-parse HEAD`\"" > version.lisp-expr
      - uses: uraimo/run-on-arch-action@v3
        name: Run commands
        id: runcmd
        with:
          arch: none
          distro: none
          base_image: --platform=linux/ppc64le debian:trixie

          githubToken: ${{ github.token }}
          install: |
            apt-get -qq update | true
            apt-get -qq install sbcl libzstd-dev build-essential
          run: |
            export SBCL_MAKE_TARGET_2_OPTIONS="--disable-ldb --disable-debugger"
            export SBCL_MAKE_JOBS=-j4
            ./make.sh --with-sb-core-compression --xc-host='sbcl --dynamic-space-size 700MB --lose-on-corruption --disable-ldb --disable-debugger'
            cd tests
            #./run-tests.sh --slow
            # ./ansi-tests.sh
  riscv64:
    runs-on: ubuntu-latest
    name: riscv64
    steps:
      - uses: actions/checkout@v4
      - name: download sbcl
        run: |
          curl -O -L https://github.com/sbcl/sbcl/releases/download/sbcl-1.4.14/sbcl-riscv-261x.tar.gz
          tar xf sbcl-riscv-261x.tar.gz
          echo "\"`git rev-parse HEAD`\"" > version.lisp-expr
      - uses: uraimo/run-on-arch-action@v3
        name: Run commands
        id: runcmd
        with:
          arch: none
          distro: none
          base_image: --platform=linux/riscv64 debian:trixie

          githubToken: ${{ github.token }}
          install: |
            apt-get -qq update | true
            apt-get -qq install libzstd-dev build-essential
          run: |
            (cd sbcl; ./install.sh)
            export SBCL_MAKE_TARGET_2_OPTIONS="--disable-ldb --disable-debugger"
            export SBCL_MAKE_JOBS=-j4
            ./make.sh --with-sb-core-compression --xc-host='sbcl --dynamic-space-size 700MB --lose-on-corruption --disable-ldb --disable-debugger'
            #cd tests
            #./run-tests.sh --slow
            # ./ansi-tests.sh
