name: Mac

on: [push]

jobs:
  build:
    runs-on: macos-15
    timeout-minutes: 45
    steps:
    - uses: actions/checkout@v4
    - name: install host sbcl
      run: brew install sbcl
    - name: build
      run: ./make.sh --xc-host='sbcl --disable-ldb --disable-debugger'
    - name: test
      run: cd tests; ./run-tests.sh
